<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1357},{162,163}}</string>
                <key>offset</key>
                <string>{-40,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,86},{162,163}}</string>
                <key>sourceSize</key>
                <string>{450,249}</string>
            </dict>
            <key>attack/attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{130,249}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,0},{130,249}}</string>
                <key>sourceSize</key>
                <string>{450,249}</string>
            </dict>
            <key>attack/attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,409},{202,147}}</string>
                <key>offset</key>
                <string>{-61,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,102},{202,147}}</string>
                <key>sourceSize</key>
                <string>{450,249}</string>
            </dict>
            <key>attack/attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,716},{176,151}}</string>
                <key>offset</key>
                <string>{-47,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,98},{176,151}}</string>
                <key>sourceSize</key>
                <string>{450,249}</string>
            </dict>
            <key>attack/attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{160,197}}</string>
                <key>offset</key>
                <string>{42,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,52},{160,197}}</string>
                <key>sourceSize</key>
                <string>{450,249}</string>
            </dict>
            <key>attack/attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1515},{166,195}}</string>
                <key>offset</key>
                <string>{47,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,54},{166,195}}</string>
                <key>sourceSize</key>
                <string>{450,249}</string>
            </dict>
            <key>attack/attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1521},{268,249}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{268,249}}</string>
                <key>sourceSize</key>
                <string>{450,249}</string>
            </dict>
            <key>attack/attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1683},{328,249}}</string>
                <key>offset</key>
                <string>{-61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,249}}</string>
                <key>sourceSize</key>
                <string>{450,249}</string>
            </dict>
            <key>attack/attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1772},{264,249}}</string>
                <key>offset</key>
                <string>{-93,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,249}}</string>
                <key>sourceSize</key>
                <string>{450,249}</string>
            </dict>
            <key>attack/attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{220,141}}</string>
                <key>offset</key>
                <string>{-71,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,108},{220,141}}</string>
                <key>sourceSize</key>
                <string>{450,249}</string>
            </dict>
            <key>attack/attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,266},{220,141}}</string>
                <key>offset</key>
                <string>{-71,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,108},{220,141}}</string>
                <key>sourceSize</key>
                <string>{450,249}</string>
            </dict>
            <key>attack/attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,272},{212,141}}</string>
                <key>offset</key>
                <string>{-67,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,108},{212,141}}</string>
                <key>sourceSize</key>
                <string>{450,249}</string>
            </dict>
            <key>beAttack/beAttack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1339},{161,163}}</string>
                <key>offset</key>
                <string>{-40,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,86},{161,163}}</string>
                <key>sourceSize</key>
                <string>{255,249}</string>
            </dict>
            <key>beAttack/beAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,133},{131,213}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,36},{131,213}}</string>
                <key>sourceSize</key>
                <string>{255,249}</string>
            </dict>
            <key>beAttack/beAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{129,215}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,34},{129,215}}</string>
                <key>sourceSize</key>
                <string>{255,249}</string>
            </dict>
            <key>beAttack/beAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,217}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,32},{127,217}}</string>
                <key>sourceSize</key>
                <string>{255,249}</string>
            </dict>
            <key>beAttack/beAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{127,217}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,32},{127,217}}</string>
                <key>sourceSize</key>
                <string>{255,249}</string>
            </dict>
            <key>beAttack/beAttack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,133},{137,195}}</string>
                <key>offset</key>
                <string>{-23,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,54},{137,195}}</string>
                <key>sourceSize</key>
                <string>{255,249}</string>
            </dict>
            <key>beAttack/beAttack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1352},{161,163}}</string>
                <key>offset</key>
                <string>{-40,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,86},{161,163}}</string>
                <key>sourceSize</key>
                <string>{255,249}</string>
            </dict>
            <key>stand/stand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{161,162}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{161,162}}</string>
                <key>sourceSize</key>
                <string>{255,162}</string>
            </dict>
            <key>stand/stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,869},{163,160}}</string>
                <key>offset</key>
                <string>{-41,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{163,160}}</string>
                <key>sourceSize</key>
                <string>{255,162}</string>
            </dict>
            <key>stand/stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1192},{163,158}}</string>
                <key>offset</key>
                <string>{-41,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{163,158}}</string>
                <key>sourceSize</key>
                <string>{255,162}</string>
            </dict>
            <key>stand/stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1034},{163,156}}</string>
                <key>offset</key>
                <string>{-41,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{163,156}}</string>
                <key>sourceSize</key>
                <string>{255,162}</string>
            </dict>
            <key>stand/stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,869},{165,154}}</string>
                <key>offset</key>
                <string>{-42,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{165,154}}</string>
                <key>sourceSize</key>
                <string>{255,162}</string>
            </dict>
            <key>stand/stand5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1022},{165,154}}</string>
                <key>offset</key>
                <string>{-42,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{165,154}}</string>
                <key>sourceSize</key>
                <string>{255,162}</string>
            </dict>
            <key>stand/stand6.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1025},{165,154}}</string>
                <key>offset</key>
                <string>{-42,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{165,154}}</string>
                <key>sourceSize</key>
                <string>{255,162}</string>
            </dict>
            <key>stand/stand7.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1181},{163,156}}</string>
                <key>offset</key>
                <string>{-41,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{163,156}}</string>
                <key>sourceSize</key>
                <string>{255,162}</string>
            </dict>
            <key>stand/stand8.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1192},{163,158}}</string>
                <key>offset</key>
                <string>{-41,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{163,158}}</string>
                <key>sourceSize</key>
                <string>{255,162}</string>
            </dict>
            <key>stand/stand9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{163,160}}</string>
                <key>offset</key>
                <string>{-41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{163,160}}</string>
                <key>sourceSize</key>
                <string>{255,162}</string>
            </dict>
            <key>walk/walk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,564},{159,150}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{159,150}}</string>
                <key>sourceSize</key>
                <string>{237,154}</string>
            </dict>
            <key>walk/walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,564},{157,150}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{157,150}}</string>
                <key>sourceSize</key>
                <string>{237,154}</string>
            </dict>
            <key>walk/walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,415},{147,154}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{147,154}}</string>
                <key>sourceSize</key>
                <string>{237,154}</string>
            </dict>
            <key>walk/walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{161,152}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{161,152}}</string>
                <key>sourceSize</key>
                <string>{237,154}</string>
            </dict>
            <key>walk/walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,558},{155,148}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{155,148}}</string>
                <key>sourceSize</key>
                <string>{237,154}</string>
            </dict>
            <key>walk/walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{143,152}}</string>
                <key>offset</key>
                <string>{-40,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{143,152}}</string>
                <key>sourceSize</key>
                <string>{237,154}</string>
            </dict>
            <key>walk/walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{151,154}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{151,154}}</string>
                <key>sourceSize</key>
                <string>{237,154}</string>
            </dict>
            <key>walk/walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,868},{181,152}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{181,152}}</string>
                <key>sourceSize</key>
                <string>{237,154}</string>
            </dict>
            <key>walk/walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{183,154}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,154}}</string>
                <key>sourceSize</key>
                <string>{237,154}</string>
            </dict>
            <key>walk/walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{175,150}}</string>
                <key>offset</key>
                <string>{-31,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{175,150}}</string>
                <key>sourceSize</key>
                <string>{237,154}</string>
            </dict>
            <key>walk/walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,716},{167,150}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{167,150}}</string>
                <key>sourceSize</key>
                <string>{237,154}</string>
            </dict>
            <key>walk/walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,415},{147,152}}</string>
                <key>offset</key>
                <string>{-41,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{147,152}}</string>
                <key>sourceSize</key>
                <string>{237,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{677,2023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7abfbef9f08af2c795fe75879cc41d9b:bb8e9c0f8c03ef6bf65be7d2261aab55:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
