<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1/stand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,215},{344,209}}</string>
                <key>offset</key>
                <string>{44,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,24},{344,209}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>stand_1/stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{340,213}}</string>
                <key>offset</key>
                <string>{43,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,22},{340,213}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>stand_1/stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,639},{338,213}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,22},{338,213}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>stand_1/stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,854},{338,209}}</string>
                <key>offset</key>
                <string>{41,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,22},{338,209}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>stand_1/stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1272},{336,209}}</string>
                <key>offset</key>
                <string>{40,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,22},{336,209}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>stand_1/stand5.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1286},{334,211}}</string>
                <key>offset</key>
                <string>{40,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,21},{334,211}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>stand_1/stand6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1071},{336,213}}</string>
                <key>offset</key>
                <string>{40,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,22},{336,213}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>stand_1/stand7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{338,209}}</string>
                <key>offset</key>
                <string>{41,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,22},{338,209}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>stand_1/stand8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1065},{338,205}}</string>
                <key>offset</key>
                <string>{42,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,22},{338,205}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>stand_1/stand9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{340,203}}</string>
                <key>offset</key>
                <string>{43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,24},{340,203}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>walk_1/walk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,426},{340,211}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,18},{340,211}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>walk_1/walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{334,219}}</string>
                <key>offset</key>
                <string>{39,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,4},{334,219}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>walk_1/walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,521},{322,219}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,4},{322,219}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>walk_1/walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,213}}</string>
                <key>offset</key>
                <string>{47,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,10},{372,213}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>walk_1/walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{368,211}}</string>
                <key>offset</key>
                <string>{45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,16},{368,211}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>walk_1/walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{338,221}}</string>
                <key>offset</key>
                <string>{33,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,13},{338,221}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>walk_1/walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{298,223}}</string>
                <key>offset</key>
                <string>{29,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,14},{298,223}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>walk_1/walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,302},{282,217}}</string>
                <key>offset</key>
                <string>{30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,19},{282,217}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>walk_1/walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,965},{300,211}}</string>
                <key>offset</key>
                <string>{32,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,20},{300,211}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
            <key>walk_1/walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,742},{320,221}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,9},{320,221}}</string>
                <key>sourceSize</key>
                <string>{478,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroWithTiger.png</string>
            <key>size</key>
            <string>{1012,1507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:815a9ca276e9fcc6236cc3e7c8928d43:93920900d4daaba5e018ca0e5143f6bd:506b62aee7c291b748955beeaa1eb227$</string>
            <key>textureFileName</key>
            <string>heroWithTiger.png</string>
        </dict>
    </dict>
</plist>
