<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_200000/attack-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2676},{429,330}}</string>
                <key>offset</key>
                <string>{-82,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,110},{429,330}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>attack_200000/attack-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,328},{357,436}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,4},{357,436}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>attack_200000/attack-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,687},{287,416}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,24},{287,416}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>attack_200000/attack-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,687},{281,398}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,42},{281,398}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>attack_200000/attack-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6929},{525,328}}</string>
                <key>offset</key>
                <string>{-143,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,112},{525,328}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>attack_200000/attack-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,6929},{521,328}}</string>
                <key>offset</key>
                <string>{-142,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,112},{521,328}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>attack_200000/attack-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7456},{521,328}}</string>
                <key>offset</key>
                <string>{-141,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,112},{521,328}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>attack_200000/attack-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,7452},{517,328}}</string>
                <key>offset</key>
                <string>{-137,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,112},{517,328}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>attack_200000/attack-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{497,330}}</string>
                <key>offset</key>
                <string>{-123,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,110},{497,330}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>attack_200000/attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{6925,436}}</string>
                <key>offset</key>
                <string>{-85,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,4},{6925,436}}</string>
                <key>sourceSize</key>
                <string>{7317,440}</string>
            </dict>
            <key>beAttack_200000/beAttack-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,4674},{428,330}}</string>
                <key>offset</key>
                <string>{-82,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,110},{428,330}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>beAttack_200000/beAttack-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,5706},{426,334}}</string>
                <key>offset</key>
                <string>{-55,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,106},{426,334}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>beAttack_200000/beAttack-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,2},{426,334}}</string>
                <key>offset</key>
                <string>{-46,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,106},{426,334}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>beAttack_200000/beAttack-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,2},{426,334}}</string>
                <key>offset</key>
                <string>{-46,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,106},{426,334}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>beAttack_200000/beAttack-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,6134},{424,334}}</string>
                <key>offset</key>
                <string>{-50,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,106},{424,334}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>beAttack_200000/beAttack-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,5006},{426,332}}</string>
                <key>offset</key>
                <string>{-62,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,108},{426,332}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>beAttack_200000/beAttack-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,4342},{428,330}}</string>
                <key>offset</key>
                <string>{-82,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,110},{428,330}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>beAttack_200000/beAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1640},{4064,334}}</string>
                <key>offset</key>
                <string>{-82,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,106},{4064,334}}</string>
                <key>sourceSize</key>
                <string>{4242,440}</string>
            </dict>
            <key>bigAttack_200000/bigAttack-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2676},{429,330}}</string>
                <key>offset</key>
                <string>{-82,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,110},{429,330}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>bigAttack_200000/bigAttack-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,328},{357,436}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,4},{357,436}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>bigAttack_200000/bigAttack-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,687},{287,416}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,24},{287,416}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>bigAttack_200000/bigAttack-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,687},{281,398}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,42},{281,398}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>bigAttack_200000/bigAttack-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6929},{525,328}}</string>
                <key>offset</key>
                <string>{-143,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,112},{525,328}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>bigAttack_200000/bigAttack-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,6929},{521,328}}</string>
                <key>offset</key>
                <string>{-142,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,112},{521,328}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>bigAttack_200000/bigAttack-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7456},{521,328}}</string>
                <key>offset</key>
                <string>{-141,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,112},{521,328}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>bigAttack_200000/bigAttack-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,7452},{517,328}}</string>
                <key>offset</key>
                <string>{-137,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,112},{517,328}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>bigAttack_200000/bigAttack-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{497,330}}</string>
                <key>offset</key>
                <string>{-123,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,110},{497,330}}</string>
                <key>sourceSize</key>
                <string>{813,440}</string>
            </dict>
            <key>bigAttack_200000/bigAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{6925,436}}</string>
                <key>offset</key>
                <string>{-85,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,4},{6925,436}}</string>
                <key>sourceSize</key>
                <string>{7317,440}</string>
            </dict>
            <key>stand_200000/stand-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,4010},{428,330}}</string>
                <key>offset</key>
                <string>{-82,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{428,330}}</string>
                <key>sourceSize</key>
                <string>{606,340}</string>
            </dict>
            <key>stand_200000/stand-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,3676},{428,332}}</string>
                <key>offset</key>
                <string>{-79,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{428,332}}</string>
                <key>sourceSize</key>
                <string>{606,340}</string>
            </dict>
            <key>stand_200000/stand-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1350},{430,334}}</string>
                <key>offset</key>
                <string>{-78,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{430,334}}</string>
                <key>sourceSize</key>
                <string>{606,340}</string>
            </dict>
            <key>stand_200000/stand-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,334},{432,334}}</string>
                <key>offset</key>
                <string>{-77,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{432,334}}</string>
                <key>sourceSize</key>
                <string>{606,340}</string>
            </dict>
            <key>stand_200000/stand-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,676},{432,336}}</string>
                <key>offset</key>
                <string>{-75,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{432,336}}</string>
                <key>sourceSize</key>
                <string>{606,340}</string>
            </dict>
            <key>stand_200000/stand-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,338},{432,336}}</string>
                <key>offset</key>
                <string>{-75,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{432,336}}</string>
                <key>sourceSize</key>
                <string>{606,340}</string>
            </dict>
            <key>stand_200000/stand-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,1014},{430,334}}</string>
                <key>offset</key>
                <string>{-77,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{430,334}}</string>
                <key>sourceSize</key>
                <string>{606,340}</string>
            </dict>
            <key>stand_200000/stand-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1686},{430,332}}</string>
                <key>offset</key>
                <string>{-79,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{430,332}}</string>
                <key>sourceSize</key>
                <string>{606,340}</string>
            </dict>
            <key>stand_200000/stand-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,3342},{428,332}}</string>
                <key>offset</key>
                <string>{-80,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{428,332}}</string>
                <key>sourceSize</key>
                <string>{606,340}</string>
            </dict>
            <key>stand_200000/stand-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,3008},{428,332}}</string>
                <key>offset</key>
                <string>{-81,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{428,332}}</string>
                <key>sourceSize</key>
                <string>{606,340}</string>
            </dict>
            <key>stand_200000/stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1014},{5882,336}}</string>
                <key>offset</key>
                <string>{-81,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{5882,336}}</string>
                <key>sourceSize</key>
                <string>{6060,340}</string>
            </dict>
            <key>walk_200000/walk-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1308},{410,330}}</string>
                <key>offset</key>
                <string>{-77,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,110},{410,330}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>walk_200000/walk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2348},{430,326}}</string>
                <key>offset</key>
                <string>{-72,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,114},{430,326}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>walk_200000/walk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,2},{456,324}}</string>
                <key>offset</key>
                <string>{-69,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,116},{456,324}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>walk_200000/walk-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2020},{430,326}}</string>
                <key>offset</key>
                <string>{-72,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,114},{430,326}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>walk_200000/walk-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,976},{410,330}}</string>
                <key>offset</key>
                <string>{-77,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,110},{410,330}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>walk_200000/walk-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1304},{396,332}}</string>
                <key>offset</key>
                <string>{-77,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,108},{396,332}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>walk_200000/walk-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,334},{378,338}}</string>
                <key>offset</key>
                <string>{-75,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,102},{378,338}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>walk_200000/walk-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,970},{396,332}}</string>
                <key>offset</key>
                <string>{-77,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,108},{396,332}}</string>
                <key>sourceSize</key>
                <string>{606,440}</string>
            </dict>
            <key>walk_200000/walk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1638},{4644,338}}</string>
                <key>offset</key>
                <string>{-80,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,102},{4644,338}}</string>
                <key>sourceSize</key>
                <string>{4848,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{2048,8192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e3cf3a30011ce9bd9c2ae5bdb945c4f:1/1$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>
