<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{320,177}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{320,177}}</string>
                <key>sourceSize</key>
                <string>{384,177}</string>
            </dict>
            <key>stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1213},{320,177}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{320,177}}</string>
                <key>sourceSize</key>
                <string>{384,177}</string>
            </dict>
            <key>stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,991},{322,177}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{322,177}}</string>
                <key>sourceSize</key>
                <string>{384,177}</string>
            </dict>
            <key>stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,564},{324,175}}</string>
                <key>offset</key>
                <string>{29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{324,175}}</string>
                <key>sourceSize</key>
                <string>{384,177}</string>
            </dict>
            <key>stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,816},{324,173}}</string>
                <key>offset</key>
                <string>{29,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{324,173}}</string>
                <key>sourceSize</key>
                <string>{384,177}</string>
            </dict>
            <key>stand5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,639},{324,175}}</string>
                <key>offset</key>
                <string>{30,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{324,175}}</string>
                <key>sourceSize</key>
                <string>{384,177}</string>
            </dict>
            <key>stand6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{324,171}}</string>
                <key>offset</key>
                <string>{29,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,6},{324,171}}</string>
                <key>sourceSize</key>
                <string>{384,177}</string>
            </dict>
            <key>stand7.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,741},{324,175}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{324,175}}</string>
                <key>sourceSize</key>
                <string>{384,177}</string>
            </dict>
            <key>stand8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{326,171}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{326,171}}</string>
                <key>sourceSize</key>
                <string>{384,177}</string>
            </dict>
            <key>stand9.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,466},{326,171}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{326,171}}</string>
                <key>sourceSize</key>
                <string>{384,177}</string>
            </dict>
            <key>walk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{338,220}}</string>
                <key>offset</key>
                <string>{55,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,14},{338,220}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{338,234}}</string>
                <key>offset</key>
                <string>{46,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,0},{338,234}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{324,230}}</string>
                <key>offset</key>
                <string>{32,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,0},{324,230}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,230}}</string>
                <key>offset</key>
                <string>{52,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{376,230}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{360,228}}</string>
                <key>offset</key>
                <string>{49,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,3},{360,228}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,232},{340,232}}</string>
                <key>offset</key>
                <string>{31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,8},{340,232}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1170},{310,226}}</string>
                <key>offset</key>
                <string>{33,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,14},{310,226}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,342},{282,220}}</string>
                <key>offset</key>
                <string>{39,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,20},{282,220}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1170},{300,220}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,20},{300,220}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,918},{322,228}}</string>
                <key>offset</key>
                <string>{45,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,10},{322,228}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiger.png</string>
            <key>size</key>
            <string>{1006,1404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a76a1b527b19dfc0cb26395e65a25747:c31e66231860a3a967dedf28fee55511:7d4657d6ef718b50f3412249939591ce$</string>
            <key>textureFileName</key>
            <string>tiger.png</string>
        </dict>
    </dict>
</plist>
